@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


    :root{
        --cor1: #c5ebd6;
        --cor2: #83e1ad;
        --cor3: #3ddc84;
        --cor4: #2fa866;
        --cor5: #1a5c37;
        --cor6: #063d1e;

        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;  
        --fonte-destaque: 'Bebas Neue', cursive;
        --fonte-android: 'android', cursive;
        
    }

body{
    background-color:var(--cor1);
    color: white;
    font-family: var(--fonte-padrao);
}
header > h1{
    color: var(--cor6);
    font-family: var(--fonte-destaque);
}
header {
    height: 200px;
    background-color: var(--cor4);
    margin: 0px;
    padding: 0px;
    text-align: center;
}
nav{
    text-align: left;
    padding: 10px 0px 0px 0px;
   
}
nav > a{
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

nav >a:holder{
    text-decoration: underline;

}
main > h1{
    color: var(--cor6);
}
main{
    background-color: white;
    width: 800px;
    height: 2350px;
    margin:0px 200px;
    padding: 50px;
    border-radius: 0px 0px 10px 10px;
    color: black;
    text-align: left;
}
main > img{
    height: 220px;
    width: 800px;
}
#video{
    background-color: rgb(14, 107, 14);
    height: 481px;
    width: 840px;
    margin: 0px 20px 0px -50px;
    padding: 30px 30px 30px 30px;
    border-radius: 0px;

}
#lista{
    margin: 0px 0px 0px 300px;
    padding: 0px 0px -500px 0px;
}
section > article{
    background-color: aquamarine;
    width: 650px;
    height: 500px;
    border-radius: 10px;
    
}
footer{
    background-color: rgb(36, 141, 62);
    color: white;
    text-align: center;
    padding: 1px;
    margin: 10px 0px 0px 0px;    
}
footer > p{
    margin: 0px;
}
